:root {
  --header-height: 80px;
  /* naming convention: --color-<category>-<variant> */

  /* background colors */
  --color-background-base: #1a1a40;
  
  /* section background colors */
  --color-background-section-light: #f5f5f5;
  --color-background-section-mid: #eae0d5;
  --color-background-section-dark: #c6ac8f;

  /* accent colors */
  --color-accent-primary: #e6b422; /* gold */
  --color-accent-secondary: #e66a22; /* coral */

  /* text colors */
  --color-text-body: #fff8e1; /* warm off-white for body text */
  --color-text-inverse: var(--color-background-base); /* for text on light backgrounds */
  
  /* other utility colors */
  /* --color-border-default: var(--color-accent-primary); */

  scrollbar-gutter: stable;
}

/* css reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* site styles */

body {
  font-family: 'Bitter';
  background-color: var(--color-background-base);
  color: var(--color-text-body);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
}

.initial-view {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
}

.initial-view > * {
  flex-grow: 1;
}

/* .hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--color-accent-secondary);
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: var(--color-accent-secondary);
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--color-accent-secondary);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  
  .hamburger {
    display: none;
  }
} */

/* animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.4s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}