---

import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/AboutSection.astro';
import CarouselSection from '../components/CarouselSection.astro';
import QuotesSection from '../components/QuotesSection.astro';
import VideoSection from '../components/VideoSection.astro';

const pageTitle = 'Tommy Zugell';

---

<BaseLayout pageTitle={pageTitle}>
  <div class="initial-view">
    <HeroSection />
    <AboutSection />
  </div>
  <CarouselSection />
  <QuotesSection />
  <VideoSection />
</BaseLayout>


