---

import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Shows - Tommy Zugell';

---

<BaseLayout pageTitle={pageTitle}>
  <h1>here are some shows</h1>
</BaseLayout>
