---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Thank You';
---

<BaseLayout pageTitle={pageTitle}>
  <div class='thanks-container'>
    <h1>Thank You!</h1>
    <div>Your message has been sent successfully.</div>
    <div>I'll get back to you as soon as possible.</div>
  </div>
</BaseLayout>

<style>
  .thanks-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 60vh;
    margin-top: 60px;
  }

  h1 {
    font-family: 'Averia Serif Libre', serif;
    color: var(--color-accent-primary);
    font-size: 48px;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 500px;
  }

  a {
    background-color: var(--color-accent-secondary);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  a:hover {
    filter: brightness(110%);
  }
</style>
