---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Weddings - Tommy Zugell';
---

<BaseLayout pageTitle={pageTitle}>
  <div class='placeholder'>[ Under Construction ]</div>
</BaseLayout>

<style>
  .placeholder {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>