---
---
<section class='about-section'>
  <div id='main-message' class='fade-in-up'>I'm Tommy Zugell, Omega Saxophoner and Jazzman 4 Lyfe.</div>
  <div id='detail-message' class='fade-in-up'>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</section>

<style>
  .about-section {
    height: 38.2%;
    display: flex;
    flex-direction: column;
    padding: 80px 520px;
    color: var(--color-accent-primary);
  }

  #main-message,
  #detail-message {
    opacity: 0;
  }

  #main-message {
    font-size: 32px;
    text-align: left;
    margin: 0;
    font-weight: 600;
  }

  #detail-message {
    font-size: 22px;
    max-width: 60ch;
    text-align: left;
    margin: 0;
  }
</style>