<section>
  <div id="wrapper">
    <div id="main-messages-container">
      <div id="stagger-one" class='main-message fade-up'>
        Hey I'm Tommy Zugell, Omega Saxophoner and Jazzman 4 Lyfe. I Love to go Swimming in Lake Michigan!
      </div>
    </div>
    <div id="detail-messages-container">
      <div id="stagger-two" class='detail-message fade-up'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div id="stagger-three" class='detail-message fade-up'>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
      <div id="stagger-four" class='detail-message fade-up'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>
</section>

<style>
  section {
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-accent-primary);
  }

  #wrapper {
    width: var(--tommy-zugell-width);
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
  }

  #main-messages-container {
    width: 60%;
    align-self: flex-start;
  }

  #detail-messages-container {
    margin-top: 4vh;
    width: 60%;
    align-self: flex-end;
  }

  .main-message,
  .detail-message {
    opacity: 0;
  }

  .main-message {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin: 0;
  }

  .detail-message {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    margin: 0;
  }

  .main-message:not(:first-child),
  .detail-message:not(:first-child) {
    margin-top: 1vh;
  }

  #stagger-one {
    animation-delay: 100ms;
  }
  #stagger-two {
    animation-delay: 200ms;
  }
  #stagger-three {
    animation-delay: 300ms;
  }
  #stagger-four {
    animation-delay: 400ms;
  }
</style>