<section>
  <div id='container'>
    <div id='stagger-one' class='message fade-up'>
      <strong>Tommy</strong> is a professional saxophonist based in <strong>Chicago</strong>, with years of experience performing at <strong>weddings</strong>, <strong>private events</strong>, <strong>jazz gigs</strong>, and more. Whether it’s jazz standards, pop hits, R&B, or classic tunes, he brings a thoughtful approach to every performance.
    </div>
    <div id='stagger-two' class='message fade-up'>
      He’s played countless events across the <strong>Chicagoland</strong> area, always creating a memorable musical experience. As a jazz musician, he’s also performed at respected Chicago venues like <strong>The Whistler</strong>, <strong>Easy Does It</strong>, and <strong>Rojo Gusano</strong>.
    </div>
    <div id='stagger-three' class='message fade-up'>
      From intimate gatherings to large celebrations, Tommy is easy to work with, adaptable, and focused on making the music feel just right for the moment. Please reach out with any inquiries—he would love to play at your next event!
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #container {
    width: var(--hero-text-width);
    margin: 40px 0 80px 0;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    opacity: 0;
    font-size: 18px;
    color: var(--color-accent-primary);
    font-weight: 300;
  }

  strong {
    font-weight: 600;
  }

  .message:not(:first-child) {
    margin-top: 20px;
  }

  #stagger-one {
    animation-delay: 100ms;
  }
  #stagger-two {
    animation-delay: 200ms;
  }
  #stagger-three {
    animation-delay: 300ms;
  }
</style>