
.carouselContainer {
  
  --shift-duration: 1.2s;
  --effect-duration: 1.4s;
  --effect-delay: 150ms;

  width: var(--tommy-zugell-width);
  overflow: hidden;
}

/* numbers */

.numbersWindow {
  overflow: hidden;
  width: 150px;
}

.numbers {
  display: flex;
  align-items: center;
  transition: transform var(--shift-duration) var(--elastic-timing);
}

.number {
  font-size: 120px;
  font-weight: bold;
  width: 130px;
  opacity: 0.4;
  flex-shrink: 0;
  transform: scale(0.6);
  transition: transform var(--effect-duration) var(--elastic-timing) var(--effect-delay);
}

.number:not(:first-child) {
  margin-left: 40px;
}

.number.active {
  transform: scale(1);
}

/* images */

.imagesWindow {
  width: 100%;
  position: relative;
}

.images {
  display: flex;
  height: 100%;
  align-items: center;
  transition: transform var(--shift-duration) var(--elastic-timing);
}

.imageContainer {
  width: 80%;
  flex-shrink: 0;
  opacity: 0.2;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  transition: opacity var(--effect-duration) var(--elastic-timing) var(--effect-delay);
}

.imageContainer:not(:first-child) {
  margin-left: 5%;
}

.imageContainer.active {
  opacity: 1;
}

.imageContent {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--effect-duration) var(--elastic-timing) var(--effect-delay);
  transform: scale(1);
}

.imageContainer.active .imageContent {
  transform: scale(1.1);
}

/* texts */

.textsWindow {
  overflow: hidden;
  width: 400px;
  height: 150px;
}

.texts {
  display: flex;
  flex-direction: column;
  transition: transform var(--shift-duration) var(--elastic-timing);
}

.text {
  font-size: 60px;
  font-weight: bold;
  line-height: normal;
  width: 400px;
  height: 180px;
  flex-shrink: 0;
  opacity: 0.2;
  transition: opacity var(--effect-duration) var(--slide-timing) var(--effect-delay);
}

.text:not(:first-child) {
  margin-top: 20px;
}

.text.active {
  opacity: 1;
}

/* dates */

.datesWindow {
  overflow: hidden;
  width: 120px;
  height: 40px;
  /* border: 1px solid pink; */
}

.dates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform var(--shift-duration) var(--elastic-timing);
}

.date {
  display: inline-block;
  height: 38px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  opacity: 0.8;
}

.date::after {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-app-white);
  width: 100%;
}

.date:not(:first-child) {
  margin-top: 40px;
}

/* indicators */

.indicators {
  display: flex;
  margin-top: 40px;
}

.indicator {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  flex-shrink: 0;
  background-color: var(--color-accent-primary);
  opacity: 0.2;
  transition: opacity 0.5s ease;
}

.indicator:not(:first-child) {
  margin-left: 12px;
}

.indicator.active {
  opacity: 1;
}
