---

import Footer from '../components/Footer.astro';

---

<section>
  <Footer />
</section>

<style>
  section {
    background-color: var(--color-background-secondary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>