---

const platform = 'github';
const username = 'romebop';

---

<footer>
  <p>©2025 Tommy Zugell. All rights reserved.</p>
</footer>

<style>
  footer {
    text-align: center;
    padding: 2rem 0;
  }
</style>
