---

const platform = 'github';
const username = 'romebop';

---

<footer class='fadeInUp-animation'>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <p>©2025 Tommy Zugell. All rights reserved.</p>
</footer>
