---
import { Image } from 'astro:assets';
import tommyPhoto from '../assets/tommy-removebg-cropped.png';

const heroTextSize = '122px';
---

<section>
  <div class='hero-text-container'>
    <div class='hero-text fade-up'>TOMMY SAX</div>
  </div>
  <Image class='tommy-photo' src={tommyPhoto} alt='Tommy photo' />
  <!-- <div class='abstract-wrapper fade-in'>
    <div class='abstract' />
  </div> -->
</section>

<style define:vars={{ heroTextSize }}>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid var(--color-accent-primary);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e6b422' fill-opacity='0.04'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  }
  
  .hero-text-container {
    margin-top: 100px;
    z-index: 1;
  }

  .hero-text {
    color: var(--color-accent-primary);
    font-family: 'Averia Serif Libre', serif;
    font-size: var(--heroTextSize);
    line-height: var(--heroTextSize);
    text-align: center;
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
  }

  .tommy-photo {
    margin-top: -64px;
    z-index: 2;
    width: auto;
    /* filter:
      drop-shadow(2px 0 0 var(--color-app-white))
      drop-shadow(-2px 0 0 var(--color-app-white))
      drop-shadow(0 -2px 0 var(--color-app-white))
      drop-shadow(3px 0 0 var(--color-app-white))
      drop-shadow(-3px 0 0 var(--color-app-white))
      drop-shadow(0 -3px 0 var(--color-app-white)); */
  }
</style>