---
import { Image } from 'astro:assets';
import tommyPhoto from '../assets/tommy-removebg-cropped.png';

const heroTextSize = '140px';
---

<section>
  <div class='hero-text-container'>
    <div class='hero-text fade-up'>TOMMY ZUGELL</div>
  </div>
  <Image class='tommy-photo' src={tommyPhoto} alt='Tommy photo' />
  <!-- <div class='abstract-wrapper fade-in'>
    <div class='abstract' />
  </div> -->
</section>

<style define:vars={{ heroTextSize }}>
  section {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    border-bottom: 1px solid var(--color-accent-primary);
  }
  
  .hero-text-container {
    position: absolute;
    z-index: 1;
    bottom: 30.6vh;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .hero-text {
    color: var(--color-accent-primary);
    font-family: 'Averia Serif Libre', serif;
    font-size: var(--heroTextSize);
    line-height: var(--heroTextSize);
    text-align: center;
    margin: 0;
    font-weight: bold;
    white-space: nowrap;
  }

  .tommy-photo {
    position: relative;
    z-index: 2;
    width: auto;
    height: 36vh;
    /* filter:
      drop-shadow(2px 0 0 var(--color-app-white))
      drop-shadow(-2px 0 0 var(--color-app-white))
      drop-shadow(0 -2px 0 var(--color-app-white))
      drop-shadow(3px 0 0 var(--color-app-white))
      drop-shadow(-3px 0 0 var(--color-app-white))
      drop-shadow(0 -3px 0 var(--color-app-white)); */
  }

  .abstract-wrapper {
    position: absolute;
    z-index: 0;
    height: 30vh;
    width: calc(var(--tommy-zugell-width) - 16px);
  }

  .abstract {
    height: 100%;
    background-color: #1a1a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e6b422' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    transition: opacity var(--elastic-duration) var(--elastic-timing);
    opacity: 0.08;
  }

  .abstract:hover {
    opacity: 0.6;
  }
</style>