---

const mainLinks = [
  { href: '/', label: 'Home' },
  { href: '/shows', label: 'Shows' },
  { href: '/weddings', label: 'Weddings' },
];

---

<div class='main-links'>
  {mainLinks.map(link =>
    <a
      href={link.href}
      class={Astro.url.pathname === link.href ? 'active' : ''}
    >{link.label}</a>
  )}
</div>

<style>
  .main-links {
    display: flex;
    align-items: center;
    height: 160px;
  }

  .main-links a {
    color: white;
    text-decoration: none;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    text-underline-offset: 6.4px;
  }

  .main-links a:not(:first-child) {
    margin-left: 40px;
  }

  .main-links a.active {
    text-decoration: underline;
  }
</style>