---

const mainLinks = [
  { href: '/', label: 'Home' },
  { href: '/shows', label: 'Shows' },
  { href: '/weddings', label: 'Weddings' },
  { href: '/contact', label: 'Contact' },
];

---

<div class='main-links'>
  {mainLinks.map((link, index) =>
    <a
      href={link.href}
      class:list={[
        { active: Astro.url.pathname === link.href },
        { 'contact-button': link.label === 'Contact' },
      ]}
    >{link.label}</a>
  )}
</div>

<style>
  .main-links {
    display: flex;
    align-items: center;
    height: var(--header-height);
  }

  .main-links a:not(.contact-button) {
    color: var(--color-app-white);
    text-decoration: none;
    text-transform: none;
    font-size: 16px;
    font-weight: normal;
    position: relative;
  }

  .main-links a:not(.contact-button)::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color-app-white);
    transform-origin: bottom right;
    transition: transform var(--elastic-duration) var(--elastic-timing);
  }

  .main-links a:not(.contact-button):hover::after,
  .main-links a:not(.contact-button).active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .main-links a:not(:first-child) {
    margin-left: 40px;
  }

  .contact-button {
    border: 2px solid var(--color-accent-secondary);
    padding: 4px 12px;
    border-radius: 4px;
    color: var(--color-app-white);
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .contact-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-accent-secondary);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform var(--elastic-duration) var(--elastic-timing);
    z-index: -1;
  }

  .contact-button:hover::before,
  .contact-button.active::before {
    transform: scaleX(1);
    transform-origin: left;
  }
</style>