---
---
<section>
  <p>Video Section</p>
</section>

<style>
  section {
    display: grid;
    place-content: center;
    height: 500px;
    background-color: var(--color-background-section-mid);
    color: var(--color-text-inverse);
    font-size: 2rem;
    width: 100%;
  }
</style>