---

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

---

<html lang='en'>
  <head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' href='/public/favicon.ico' />
		<title>Tommy Zugell</title>
	</head>
  <body>
    <Header />
    <Footer />
    <script>
      import '../scripts/menu.js';
    </script>
  </body>
</html>